{% extends "base.html" %}
{% load static %}

{% block content %}
<!--<form method="post">
    {% csrf_token %}
    <p><label for="id_content">Comment:</label>
    <textarea id="id_content" cols="40"name="content" maxlength="8000" rows="10" required></p>
    <input type="submit" value="Save">
</form> -->

<section class="container-fluid mt-4 mb-4">
    <form class="text-end" >
        <div class="mb-2">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <button type="submit" value="Save" class="btn btn-submit rounded-3 text-end">Submit</button>
      </form>
</section>
{%endblock%}