{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="nav-padding container-fluid forum-section pb-4" style=" background-color: #d9d6cf;">
    <div class="row forum-container">
      <div class="col-md-3">
        <div class="sidebar bg-white p-2 text-center rounded-3">
          <h3>Communities</h3>
          <ul class="sidebar-nav list-unstyled">
            <li><a class="text-decoration-none" href="#">Army</a></li>
            <li><a class="text-decoration-none" href="#">Navy</a></li>
            <li><a class="text-decoration-none" href="#">Air Force</a></li>
            <li><a class="text-decoration-none" href="#">All Veterans</a></li>
          </ul>
        </div>
        
      </div>
      <div class="col-md-7 col-lg-6 pt-2 pt-md-0">
        <div class="bg-white rounded-3 p-4 forum-post">
            <div class="d-flex align-items-center gap-3">
                <img src="/static/assets/img/card-img1.png" class="forum-profile-img" width="55px" height="55px">
                <div class="d-flex justify-content-between w-100 gap-5 align-items-center">
                    <a href="{% url 'post_detail' post.id %}"><h3>{{ post.title }}</h3></a>
                    <a class="btn-forum rounded-2">{{ post.category }}</a>
                </div>
              </div>
              <p class="p-4">{{ post.content }}</p>
            <div class="content-forum bg-white p-3 mt-2 rounded-3">
    
            
            <h3>Comments</h3>
            {% for comment in comments %}
            <div class="mt-1 mb-2">
                <p class="m-0"><strong>{{ comment.author }}</strong></p>
                <p class="m-0">{{ comment.content }}</p>
            </div>
            {% endfor %} 
            
            {% if no_comments %} 
            <p>No comments for this post yet.</p>
            {% endif %}  
            <a href="#" class="btn btn-comment">Add a Comment</a>
        </div>
    </div>
  </section>
{%endblock%}