{% extends "base.html" %}
{% load static %}




{% block title %}
VeteransTalk
{% endblock title %}

{% block content %}

<!-- hero section -->
<section class="about-page text-center d-flex align-items-center justify-content-center container-fluid">
    <div class="row">
        <div class="about-text text-white">
            <h1>VeteransTalk</h1>
            <p>Connect with other veterans, share your experiences, and be part of a community that understands you. Our
                app is filled with like-minded brothers and sisters in arms. Join now and start chatting with those who
                understand you.</p>
            <a href="forum" class="home-btn">Engage Now <i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</section>
<!-- Description section -->
<section class="description-about container-fluid text-center pb-5">
    <div class="row description-div g-5 justify-content-center">
        <div class="col-md-4 col-lg-3">
            <div class="card">
                <img src="{% static 'assets/img/card-img1.png' %}" class="card-img" alt="officers">
                <div class="card-body">
                    <h3 class="card-title">Share</h3>
                    <p>Sharing personal experiences reduces stigma and increases awareness. Hearing firsthand accounts
                        breaks down stereotypes and promotes understanding, empathy, and social change.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="card">
                <img src="/static/assets/img/card-img2.png" class="card-img" alt="officers">
                <div class="card-body">
                    <h3 class="card-title">Self-Awareness</h3>
                    <p>Self-awareness is a powerful tool for personal growth and development. It involves being mindful
                        and attuned to the present moment, taking ownership of your feelings and experiences, and
                        cultivating a deeper understanding of your thoughts, emotions, and behaviors. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="card">
                <img src="/static/assets/img/card-img3.png" class="card-img" alt="officers">
                <div class="card-body">
                    <h3 class="card-title">Connect</h3>
                    <p>Veteran Talk is a fellowship of people who share their experience, strength and hope with
                        each other that they may solve their common problem and help others as a community. We are
                        self-supporting through our own contributions.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}