/* color variables*/
:root {
    --green-color: #597355;
    --dark-green: #4F604F;
    --beige-color: #8A7064;
  }

h1 {
    /* feel free to delete this, just used for testing the file is loading */
    font-size: 66px;
}

/*-------------------------------- Header/Navbar*/
#nav {
    background-color: var(--beige-color);
}

nav, footer, .description-div, .login-div,.forum-container {
    padding: 12px 70px !important;
  }
  .nav-active {
    color: var(--beige-color)!important;
  }
  /* nav item hover effect */
  nav .nav-item a:hover {
    color: var(--light-gray) !important;
  }
  .navbar-brand {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
  }
  .login {
    background-color: var(--green-color);
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding: 7px 25px 7px 25px !important;
    border-radius: 5rem;
    margin-left: 3px;

  }

  /*-------------------------------- About page*/
  .about-page {
    height: 70vh;
    background-image: url("../assets/img/heroimg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-page p {
    max-width: 500px
  }
  .card {
    border: none !important;
  }
  .card-img {
    margin: 0 auto;
    max-width: 160px;
  }

 /*-------------------------------- Description Section*/
  .description-div {
    padding-top: 3rem !important;
    margin: 0 auto;
  }

/*-------------------------------- Login Section*/

  .bg-image {
    background-image: url("../assets/img/dogtags.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
 .login-div {
    max-width: 600px;
 }
 .form-control {
    border-radius: 5rem;
    border: 3px solid rgb(187, 187, 187);
 }
/*-------------------------------- Forum Section*/
.form-forum {
    border: none;
    border-radius: 0px;
}
.forum-container {
    padding-top: 4rem !important;
}


/*-------------------------------- Footer*/
  footer {
    background-color: var(--beige-color);
  }

 /*-------------------------------- Buttons*/
 .home-btn {
    background-color: var(--green-color);
    color: white;
    text-decoration: none;
    padding: 10px 80px;
    border-radius: 5rem;
    transition: 200ms;
 }
 .btn-login {
    background-color: var(--green-color);
    color: white;
    padding: 10px 100px;
    border-radius: 5rem;
    transition: 200ms;
 }
 .btn-submit {
    background-color: var(--green-color);
    color: white;
    padding: 10px 70px;
    transition: 200ms;
 }
 .btn-forum {
    background-color: var(--green-color);
    color: white;
    padding: 10px 20px;
    text-decoration: none;

 }
 .btn-login:hover, .btn-submit:hover, .home-btn:hover {
    background-color: var(--dark-green);
    color: white;
 }
/*-------------------------------- Icons*/
.fa-arrow-right {
    position: relative;
    top: 1px;
    left: 4px;
    font-size: 0.8rem;
}
.fa-comment {
    font-size: 1rem;
}

/*-------------------------------- Media Queries*/
@media (max-width:1000px) {
    .login-div {
        text-align: center;
    }
    nav, footer, .description-div, .login-div {
        padding: 12px 10px !important;
      }
  }