{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="login-section vh-100 py-5 pt-0">
    <div class="container-fluid vh-100">
        <div class="row vh-100  justify-content-center justify-content-md-between">
            <div class="login-div d-flex col-md-6 align-items-center justify-content-center justify-content-md-between">
                <div class="">
                    <h1>VeteranTalk</h1>
                    <p>Enter your username and password:</p>
                    <form>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <a href="#" class="mb-3 d-block">Sign up</a>
                        <button type="submit" class="btn btn-login">Login</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 bg-image d-none d-md-block"></div>
        </div>
    </div>
</section>
{% endblock content %}